@import '../../styles/variables';

// Container for skills section
.skills-container {
  width: 100%;
  max-width: $breakpoint-lg; // Use the large breakpoint variable for max-width
  margin: 0 auto;
  padding: $spacing-lg; // Add padding for better spacing around the section
}

// Wrapper for skill cards
.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Adjusted min-width for better responsiveness
  gap: $spacing-lg;
  margin-bottom: $spacing-xl;

  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-md; // Adjusted padding for a balanced look
    text-align: center;
    border-top: 1px solid $border-color;

    .skill-icon {
      font-size: 4rem; // Larger icon for emphasis
      color: $primary-color;
      margin-bottom: $spacing-md;
      transition: color $transition-duration ease; // Smooth color transition
    }

    .skill-content {
      .skill-title {
        color: $text-primary;
        margin-bottom: $spacing-xs;
        font-weight: 700; // Bolder font for better prominence
        font-size: $font-size-large; // Larger font size for titles
      }

      .skill-description {
        font-style: normal; // Remove italic style for better readability
        color: $text-secondary;
        line-height: 1.5; // Improved line height for readability
        margin: 0; // Remove margin to ensure consistent spacing
      }
    }
  }
}