@import '../../styles/variables';

// Wrapper for skill cards
.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); // Responsive grid
  gap: $spacing-lg; // Using spacing variable for gap

  @media screen and (max-width: $breakpoint-lg) {
    display: flex;
    overflow-x: auto;
    gap: $spacing-md;
    padding: $spacing-md 0;

    // Scrollbar styles inside media query (for horizontal scrolling)
    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $text-secondary;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $text-primary;
    }
  }

  .skill-card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.9));
    border-radius: $border-radius-md;
    box-shadow: $shadow-small;
    backdrop-filter: blur(10px); // Adds a subtle glass effect

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    padding: $spacing-lg;
    min-width: 250px;
    min-height: 320px;

    @media screen and (max-width: $breakpoint-lg) {
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      padding: $spacing-md;
      min-width: 220px;
      min-height: 300px;
    }

    .skill-icon {
      font-size: 2.5rem; // Larger icon size for emphasis
      color: $primary-color;
      background: linear-gradient(45deg, $background-color 0%, lighten($accent-background-color, 10%) 50%, $accent-background-color 100%);
      margin-bottom: $spacing-md; // Adjusted margin for better spacing
      border-radius: $border-radius-sm; // Fully rounded corners for icons
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacing-sm;
      transition: background 0.3s ease, transform 0.3s ease; // Added transition for hover effect

      @media screen and (max-width: $breakpoint-lg) {
        background: none;
        box-shadow: none; // Removed shadow on smaller screens
      }
    }

    .skill-content {
      .skill-title {
        color: $text-primary;
        font-weight: normal;
      }

      .skill-description {
        color: $text-secondary;
      }
    }
  }
}