@import 'variables';

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: $background-color;

  .hero-content {
    width: 100%;
  }

  .main-content {
    width: 100%;
    max-width: $breakpoint-lg;
    padding: 0 $spacing-md;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}