@import '../../styles/variables';

.hero-container {
  display: flex;
  flex-direction: column; // Adjusted for mobile view
  justify-content: center;
  align-items: center;
  padding: $spacing-lg;
  background-image: url('../../assets/texture.png'); // Background texture image
  background-size: cover; // Cover the entire container
  background-repeat: repeat; // Repeat the texture
  background-position: center; // Center the background
  background-attachment: fixed; // Adjusted for better mobile compatibility
  height: fit-content; // Minimum height
  max-height: 100vh;
  width: 100%; // Ensure full-width within constraints
  margin: 0 auto; // Center the container
  overflow: hidden;
  position: relative;

  .custom-shape-divider-bottom-1722726483 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1722726483 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-bottom-1722726483 .shape-fill {
    fill: lighten(#f1f1f1, 5%);
  }

  @media (min-width: $breakpoint-md) {
    flex-direction: row; // Horizontal layout for larger screens
    padding: $spacing-xl; // Increased padding for larger screens
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
    gap: $spacing-md; // Space between elements

    .hero-title {
      font-weight: normal; // Adjusted for emphasis
      color: $text-white; // Dark gray for contrast
      width: 100%;
      line-height: $line-height-heading; // Improved line height for readability
    }

    .hero-image {
      max-width: 100%;
      height: auto;
      max-height: 750px;
      border-radius: $border-radius-md; // Rounded corners for modern look
      object-fit: cover; // Ensure the image covers the container
      transition: transform $transition-duration $transition-easing; // Smooth transition for hover effects
      z-index: 1;
    }
  }

  // Mobile-specific adjustments
  @media (max-width: $breakpoint-sm) {
    .hero-title {
      font-size: 1.5rem; // Smaller font size for mobile
    }

    .hero-content {
      gap: $spacing-sm; // Reduced gap for mobile
    }
  }
}