@import '../../styles/variables';

.hero-container {
  display: flex;
  flex-direction: column; // Adjusted for mobile view
  justify-content: center;
  align-items: center;
  padding: $spacing-lg;
  background-image: url('../../assets/texture.png'); // Background texture image
  background-size: cover; // Cover the entire container
  background-repeat: repeat; // Repeat the texture
  background-position: center; // Center the background
  background-attachment: fixed; // Fixed background (optional)
  min-height: 50vh; // Minimum height
  border-radius: $border-radius-md; // Rounded corners
  width: 100%; // Ensure full-width within constraints
  margin: 0 auto; // Center the container
  overflow: hidden;

  // Optional: Add a subtle shadow for depth
  box-shadow: $shadow-medium;

  @media (min-width: $breakpoint-md) {
    flex-direction: row; // Horizontal layout for larger screens
    padding: $spacing-xl; // Increased padding for larger screens
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
    gap: $spacing-md; // Space between elements

    .hero-title {
      font-size: 2rem; // Adjusted font size for mobile
      font-weight: normal; // Adjusted for emphasis
      color: $text-primary; // Dark gray for contrast
      width: 100%;
      line-height: $line-height-heading; // Improved line height for readability
    }

    .hero-image {
      max-width: 100%;
      height: auto;
      border-radius: $border-radius-md; // Rounded corners for modern look
      object-fit: cover; // Ensure the image covers the container
      transition: transform $transition-duration $transition-easing; // Smooth transition for hover effects
    }
  }

  // Mobile-specific adjustments
  @media (max-width: $breakpoint-sm) {
    .hero-title {
      font-size: 1.5rem; // Smaller font size for mobile
    }

    .hero-content {
      gap: $spacing-sm; // Reduced gap for mobile
    }
  }
}