@import '../../styles/variables'; // Import your variables

.header-container {
  position: relative;
  padding: $spacing-lg 0;
  background-color: $background-color; // Adjust to your theme color
  width: 100%;
  margin: 0 auto;

  h1 {
    color: $primary-color; // Main heading color
  }

  p {
    color: $text-secondary; // Secondary text color
    margin: 0;
  }

}