@import '../../styles/variables';

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  color: $text-primary;
  text-align: start;
  overflow: hidden;
  background: linear-gradient(135deg, lighten($primary-color, 10%), darken($primary-color, 10%));
  padding: $spacing-md $spacing-lg;


  .custom-shape-divider-bottom-1742053628 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1742053628 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-bottom-1742053628 .shape-fill {
    fill: #F3F4F5;
  }

  .hero-content {
    flex: 1;
    max-width: 650px;
    animation: fadeIn 1s ease-out;

    .hero-title {
      margin-bottom: $spacing-md;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $text-primary-dark;
    }

    .hero-subtitle {
      color: $text-secondary-dark;
      line-height: 1.8;
      margin-bottom: $spacing-lg;
    }
  }

  .hero-image-wrapper {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-lg;

    .hero-image {
      width: 100%;
      max-width: $breakpoint-xl;
      height: auto;
      object-fit: cover;
      border-radius: $border-radius-lg;
      transition: filter 0.3s ease-in-out;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: $breakpoint-lg) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: $spacing-lg;

    .hero-content {
      max-width: 90%;
    }

    .hero-image-wrapper {
      width: 100%;
      margin-top: $spacing-md;

      .hero-image {
        object-fit: contain;
      }
    }
  }
}