@import '../../styles/variables';

.hero-container {
  position: relative;
  overflow: hidden;
  background-color: $card-background;
  padding: $spacing-xl $spacing-md;
  height: 80vh; // Increased height for more impact
  display: flex;
  flex-direction: column;
  align-items: center; // Center content horizontally
  justify-content: center; // Center content vertically
  text-align: center;

  .hero-content {
    display: grid;
    grid-template-columns: 1fr 2fr; // Adjusted column ratio for balance
    align-items: center; // Center all items vertically
    gap: $spacing-lg; // Add space between content sections
    max-width: 1200px; // Limit max-width for better layout on larger screens
    width: 100%;
    margin: 0 auto;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr; // Stack content on small screens
      text-align: center;
    }

    .hero-content-wrapper {
      padding: $spacing-md;
      text-align: start;

      .hero-title {
        color: $primary-color;
        margin-bottom: $spacing-md;
      }

      p {
        color: $text-secondary;
        margin: 0 auto;
      }
    }

    .hero-image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .hero-image {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background: $background-color; // Ensure divider blends with the background

    svg {
      position: relative;
      display: block;
      width: 100%;
      height: $spacing-lg;

      .shape-fill {
        fill: $card-background; // Match background for a seamless look
      }
    }
  }
}