@import '../../styles/variables';

.hero-container {
  position: relative;
  overflow: hidden;
  padding: $spacing-xl $spacing-md;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text-primary;
  // Parallax background
  background: url("../../assets/background.svg") no-repeat center center;
  background-size: cover;


  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, $card-background, transparent 60%);
    opacity: 0.2;
    transform: rotate(45deg);
  }

  .hero-content {
    display: grid;
    align-items: center;
    gap: $spacing-lg;
    width: 100%;
    margin: 0 auto;
    z-index: 1; // Ensure content is above background effects
      grid-template-columns: 1fr;
      text-align: center;

    .hero-content-wrapper {
      padding: $spacing-md;

      .hero-title {
        color: $text-primary;
        text-transform: uppercase;
      }
    }

    .hero-image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .hero-image {
        max-width: 100%;
        height: auto;
        max-height: 60vh;
      }
    }
  }
}