@import '../../styles/variables';

// About Container
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $breakpoint-lg;
  margin: 0 auto;
  margin-top: 5rem;

  .core-competencies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-lg;
    width: 100%;
  }
}

// Competency Card
.competency-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-lg;
  padding: $spacing-lg;
  box-shadow: $shadow-large;
  background-color: $background-color;
  transition: transform $transition-duration $transition-easing, box-shadow $transition-duration $transition-easing;
  width: 100%;
  margin: 0 auto;

  // Unique background colors for each section with improved gradients
  &:nth-child(1) {
    .card-header h1 {
      background: linear-gradient(135deg, $background-color, #e74c3c); // Dark red gradient
    }
  }

  &:nth-child(2) {
    .card-header h1 {
      background: linear-gradient(135deg, $background-color, #3498db); // Light blue gradient
    }
  }

  &:nth-child(3) {
    .card-header h1 {
      background: linear-gradient(135deg, $background-color, #16a085); // Dark teal gradient
    }
  }

  &:nth-child(4) {
    .card-header h1 {
      background: linear-gradient(135deg, $background-color, #e67e22); // Dark orange gradient
    }
  }

  &:nth-child(5) {
    .card-header h1 {
      background: linear-gradient(135deg, $background-color, #2c3e50); // Dark orange gradient
    }
  }


  &:hover {
    transform: translateY(-5px);
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $spacing-md;
    width: 100%;

    h1 {
      color: $primary-color;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      box-shadow: $shadow-medium;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-size-large;
      text-align: center;


    }
  }

  .card-body {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: $spacing-lg;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .card-info {
      text-align: center;
      margin-bottom: $spacing-md;

      .competency-icon {
        max-width: 100%;
        max-height: 300px;
        margin-bottom: $spacing-md;
      }

      h2 {
        font-size: $font-size-large;
        color: $text-primary;
        margin-bottom: $spacing-xs;
      }

      p {
        font-size: $font-size-base;
        color: $text-secondary;
        line-height: $line-height-base;
      }
    }

    .competency-items {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: $spacing-md;

      .detail-item {
        display: flex;
        align-items: center;
        gap: $spacing-lg;
        padding: $spacing-md;
        border-radius: $border-radius-md;

        .detail-icon {
          font-size: 2.5rem;
          color: $primary-color;
        }

        .detail-info {
          h4 {
            font-size: 1.2rem;
            color: $text-primary;
            margin: 0;
          }

          p {
            font-size: 0.9rem;
            color: $text-secondary;
            font-style: italic;
            margin: 0;
            line-height: 1.4;
          }
        }
      }
    }
  }
}