@import 'src/styles/variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-index-modal;
}

.modal-content {
  background-color: $card-background;
  position: fixed;
  right: 0;
  top: 0;
  padding:  $spacing-sm $spacing-md;
  border-top-left-radius: $border-radius-lg;
  border-bottom-left-radius: $border-radius-lg;
  box-shadow: $shadow-medium;
  max-width: 400px;
  height: 100vh;
  width: 80%;
  text-align: center;
}

.modal-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-md 0;
  list-style: none;
  text-align: center;

  .modal-link {
    color: $primary-color;
    font-weight: 500;
    position: relative;
    margin: $spacing-md 0;
    text-decoration: none;
    padding: $spacing-sm $spacing-md;
    border-radius: $border-radius-lg;
    transition: background-color $transition-duration ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $card-background, 10%;
      color: $link-color;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  padding: $spacing-sm;

  .menu-btn {
    display: none;
    border: none;
    background: transparent;
    box-shadow: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;

    svg {
      margin: 0;
      color: $primary-color;
      font-size: 24px;
      transition: color 0.3s ease;
    }

    &:hover {
      background-color: rgba($primary-color, 0.1); // Light background color for hover effect
      transform: scale(1.1); // Slight scale effect on hover
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $primary-color; // Focus ring for accessibility
    }

    @media screen and (max-width: $breakpoint-sm) {
      display: block;
      font-size: 2rem;

      svg {
        color: $primary-color; // Ensure color remains consistent on small screens
      }

      &:hover {
        background-color: rgba($primary-color, 0.2); // Slightly darker background on hover for better contrast
        transform: scale(1.1); // Maintain hover effect
      }
    }
  }
}