@import '../../styles/variables';

// Main container for the skills section
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-width: $breakpoint-xl;
  margin: 0 auto;

  // Competency section container
  .competency-section {
    display: grid;
    grid-template-columns: 1fr 3fr; // Improved layout balance
    padding: $spacing-md; // Consistent padding for the section
    align-items: center;
    width: 100%;
    max-width: $breakpoint-xl; // Use breakpoint for max width
    min-height: 60vh;
    border-radius: $border-radius-lg; // Rounded corners for the section
    border-radius: $border-radius-lg; // Rounded corners for the section
    background-color: $accent-background-color;


    // Responsive design adjustments
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
      gap: $spacing-sm; // Adjusted spacing for smaller screens
      align-items: flex-start;

    }

    // Competency list styles
    .competency-list {
      display: flex;
      flex-wrap: wrap; // Allow wrapping of items
      flex-direction: row; // Switch to row on small screens
      justify-content: flex-start; // Distribute items evenly
      align-items: flex-start; // Align items to the start of the container


      .competency-item {
        flex: 1 1 100%; // Full width for mobile
        display: flex;
        align-items: center;
        padding: $spacing-sm;
        margin: $spacing-xs; // Consistent margin around items
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        border-radius: $border-radius-md;
        width: 100%; // Full width on mobile

        @media (min-width: $breakpoint-md) {
          flex: 1 1 50%; // Two items per row on larger screens
          width: auto; // Adjust width for larger screens
          justify-content: flex-start; // Align items to the start for larger screens
        }

        &:hover,
        &.active {
          background-color: $card-background; // Consistent background color
          box-shadow: $shadow-small;
          transform: scale(1.02); // Slight zoom effect on hover
        }

        .icon {
          margin-right: $spacing-sm;
          color: $primary-color;
        }

        .title {
          font-weight: $font-weight-medium;
          font-size: $font-size-base-sm;
          margin: 0; // Remove default margin for better alignment
        }
      }
    }

    // Competency details section
    .competency-details {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
        text-align: left;
        align-items: center;
      }

      .image-container {
        flex: 1;
        width: 100%;
        margin-bottom: $spacing-md; // Margin for image container

        @media (min-width: $breakpoint-md) {
          margin-bottom: 0;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .description {
        @media (min-width: $breakpoint-md) {
          margin-left: $spacing-lg; // Margin for larger screens
          width: 50%;
        }

        ul {
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;

          li {
            margin-bottom: $spacing-xs; // Space between list items
            display: flex;
            align-items: center;
            text-align: left;
            gap: $spacing-xs; // Space between bullet and text

            &:before {
              content: "•";
              color: $primary-color; // Color for bullet points
              font-weight: $font-weight-bold;
              display: inline-block;
              width: 1rem;
              margin-right: $spacing-xs; // Space between bullet and text
            }
          }
        }
      }
    }
  }
}