@import "../../styles/variables";

// Container for the Work section
.work-container {
  background-color: $background-color;
  max-width: $breakpoint-lg;
  margin: 0 auto;

  .work-section {
    margin-bottom: $spacing-xl;
    overflow: hidden;

    .work-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      border-radius: $border-radius-md;
      transition: transform $transition-duration ease, box-shadow $transition-duration ease;

      @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column;
      }


      .work-image-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $spacing-lg; // Space between image and content
        border-radius: $border-radius-md;

        .work-image {
          width: 100%;
          height: auto;
          object-fit: cover; // Use cover to ensure the image fills the container
          border-radius: $border-radius-md; // Consistent rounding for the image
        }
      }

      .work-content {
        flex: 1;
        color: $text-primary; // Default text color
        transition: color $transition-duration ease;


        h2 {
          color: $primary-color;
          font-size: $font-size-heading; // Larger font size for titles
          margin-bottom: $spacing-sm; // Space below the title
        }

        .work-info {
          font-size: $font-size-base;
          color: $text-secondary;
          margin-bottom: $spacing-md;
          line-height: 1.6; // Improved line height for readability

        }

        .work-description {
          margin-bottom: $spacing-xl;

          p {
            color: $text-primary;
            margin-bottom: $spacing-sm;
            display: flex;
            align-items: center;
            transition: ease-in-out $transition-duration;
            cursor: pointer;
            font-size: $font-size-base;

            &:hover {
              color: $link-color;
              transform: translateY(-5px); // Slight lift effect on hover
            }

            svg {
              margin-left: $spacing-sm;
              font-size: $font-size-heading; // Increase icon size for better visibility
            }
          }

          .section-details {
            margin-top: $spacing-md;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .section-image {
              width: 100%;
              height: auto;
              object-fit: cover; // Use cover to ensure the image fills the container
              max-height: 250px; // Ensure image doesn't overflow
              margin-top: $spacing-sm;
              border-radius: $border-radius-md;
              border: $border-width solid $border-color; // Border around the section image
            }
          }
        }
      }
    }
  }
}