@import '../../styles/variables';

/* Slideshow Container */
.slideshow-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: $background-color;
  color: $text-primary;
  border-radius: $border-radius-md;
  height: 600px; // Adjust height as needed
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;

  .slideshow {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $card-background;
      color: $text-primary;
      border-radius: $border-radius-md;
      border: 1px solid $border-color;
      overflow: hidden;

      &.active {
        opacity: 1;
        transform: scale(1);
        z-index: 1;
      }

      .slide-image {
        width: 100%;
        height: 100%;
        object-fit: cover; // Ensure image covers container without distortion
        object-position: left;
        transition: opacity 0.5s ease-in-out;
      }

      .slide-content {
        position: absolute;
        bottom: 0;
        background: rgba($card-background, 0.8);
        backdrop-filter: blur(5px);
        color: $text-primary;
        padding: $spacing-md;
        text-align: center;
        width: 100%;
        margin: 0
      ;
        p {
          margin: 0;
          font-size: $font-size-base;
          animation: fadeDown 0.5s ease-out;
        }
      }
    }
  }

  .slide-controls {
    position: absolute;
    bottom: -4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 $border-radius-md $border-radius-md; // Rounded corners at the bottom
    z-index: 2;

    .nav-button {
      background: $card-background;
      color: $text-secondary;
      border: none;
      border-radius: 50%;
      padding: $spacing-xs;
      font-size: $font-size-large;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      box-shadow: $shadow-small;

      &:hover {
        background-color: $primary-color;
        color: $text-white;
        transform: scale(1.1);
      }

    }
  }
}

/* Keyframes for fade-down animation */
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: $breakpoint-sm) {
  .slideshow-container {
    height: 400px; // Adjust height for smaller screens
  }

  .slide-content {
    font-size: $font-size-small;
    padding: $spacing-sm;
    min-height: 100px;
    border-radius: $border-radius-sm;
  }

  .nav-button {
    width: 35px;
    height: 35px;
    font-size: $font-size-small;
  }
}