@import "../../../../styles/variables";

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $spacing-lg;
  padding: 2rem;
  background: linear-gradient(135deg, lighten($primary-color, 10%), darken($primary-color, 10%));
  overflow: hidden;
  position: relative;

  @media (max-width: $breakpoint-sm) {
    padding: $spacing-md; // Adjust padding for smaller screens
  }
}

.back-button {
  background: #fff;
  color: $primary-color;
  border: none;
  width: 40px; // Ensure width and height are the same
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%; // Makes it a perfect circle
  transition: background 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;

  &:hover {
    background: darken(#fff, 10%);
  }

  @media (max-width: $breakpoint-md) {
    font-size: 0.9rem;
    width: 35px;
    height: 35px;
  }
}

.app-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap; // Ensures stacking on smaller screens

  .app-title {
    font-weight: bold;
    color: #fff;
    font-size: 2rem;

    @media (max-width: $breakpoint-md) {
      font-size: 1.5rem; // Smaller font on mobile
    }
  }

  .app-logo {
    width: auto;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
    background: #fff;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: $breakpoint-md) {
      height: 60px; // Smaller logo on mobile
    }
  }
}

.app-image {
  width: 100%;
  max-width: $breakpoint-xl;
  margin-bottom: 2rem;

  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 100%; // Ensure full width on smaller screens
  }
}